* {
    font-family: "Space Grotesk", sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

span {
    margin: 0;
    padding: 0;
    display: inline-block;
}

html {
    cursor: url('images/cursor.png') 2 2, pointer;
}

body {
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    font-stretch: expanded;
    cursor: pointer;
    /* transform: scale(1.1, 1); */
}

a:hover {
}

.header {
    width: 100%;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 38px;
    z-index: 20;
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header .__push-right {
    margin-left: auto;
}

.hero {
    width: 100%;
    height: calc(100vh - 108px);
    position: relative;
    z-index: 20;
}

.hero .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 38px;
}

.hero .bottom .email {
    margin-left: auto;
}

.hero .bottom .social {
    display: flex;
}

.hero .bottom .social a {
    margin-right: 36px;
}

.hero .center {
    width: 100%;
    height: calc(100% - 108px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.center h1 {
    font-size: 96px;
    width: 720px;
    text-align: center;
    letter-spacing: -5px;
    line-height: 84px;
}

.logo {
    height: 152px;
    margin-top: 42px;
}

.padding-box {
    width: 100%;
    height: 250vh;
}

.studio {
    z-index: 20;
    background: #eeb5f9;
    box-sizing: border-box;
    padding: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    position: relative;
}

.footer {
    height: 25vh;
    background: #9649cd;
    z-index: 20;
    position: relative;
    margin-top: -16px;
    padding: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    box-sizing: border-box;
}

.absolute-bg {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}

.absolute-bg .draggable {
    display: none;
    opacity: 0.8;
}

.absolute-bg .draggable.__active {
    display: block;
    position: absolute;
    transition: 0.2s ease opacity;
    cursor: grabbing;
}

.absolute-bg .draggable:hover {
    opacity: 1;
    transition: 0.2s ease opacity;
    cursor: grab;
}

.absolute-bg .draggable:hover .description {
    opacity: 1;
    transition: 0.2s ease opacity;
}

.absolute-bg .draggable.ease {
    transition: 0.2s ease all;
}

.absolute-bg .draggable .relative-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.absolute-bg .draggable .relative-container img {
    /* width: 100%;
    height: 100%; */
}

.absolute-bg .draggable .description {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: 0.2s ease opacity;
    -webkit-box-shadow: inset 0px -120px 38px -20px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px -120px 38px -20px rgba(255, 255, 255, 1);
    box-shadow: inset 0px -120px 38px -20px rgba(255, 255, 255, 1);
}

.absolute-bg .draggable .description h4 {
    font-size: 32px;
    margin-bottom: 44px;
}

.studio .section {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.studio .section .title {
    width: 20%;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.studio .section .content {
    display: flex;
    min-width: 80%;
    max-width: 80%;
}

.studio .section .content .mid {
    margin-right: 3vw;
}

.__no-mb {
    margin-bottom: 0 !important;
}